.bi-eye,
.bi-eye-fill {
    font-size: 30px;
}
.bi-heart-pulse-fill,
.bi-heart-pulse {
    font-size: 25px;
}



.invert-mode {
    @include invert-mode;
}
.light-mode {
    background: none!important;
}
// *START LOADING 
.spinner {
    top: 50vh;
    left: 45vw;
    font-weight: 700;
}


.spinner-container {
    position: fixed;
    z-index: 100;
    background-color: white;
    height: 100vh;
}
// ! END LOADING

// * START NAVBAR
.navbar {
    top: 0;
    z-index: 10;
    border-bottom: 10px solid $tertiary;
}
// ! END NAVBAR



main {
    background-color: white;
    .container {
        height: 100vh;
        h1 {
        text-shadow: 0px 0px 10px white;
        }
    }
    #home {
        background-image: url("../img/background-two.jpg");
    }
    #partnership {
        background-image: url("../img/background-one.jpg");
        background-size: cover;
        img {
            max-height: 200px;
        }
        .row {
            p {
                font-weight: 700;
                @media screen and (max-width:500px) {
                    font-size: 12px;
                    font-weight: 300;
                }
            }
        }
    }
    #testimonianze {
        max-height: 100vh;
        .carousel-caption {
            text-shadow: 0px 0px 10px black;
        }
    }
}

footer {
    background-color: $secondary;
    .partner-footer {
        line-height: 10px;
    }
}



// * FADING 

.fadingXinput {
    opacity: 0;
    transform: translateY(-100px);
}

.fadingXoutput {
    opacity: 1;
    transform: translateY(0px);
    transition: .5s;
}

// * FADE

.fadein {
    animation: fadein 3s;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    20% {
        transform: translateY(0px);
        opacity: 0;
    }
    95% {
        transform: translateY(-40px);
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
